services:
  tests:
    build: .
    # run as root so HOME is /root and Maven's default ${user.home}/.m2 resolves correctly
    volumes:
      - maven-target:/app/target
      - ./allure-report:/app/allure-report
      - ./allure-results:/app/allure-results
      - maven-repo:/root/.m2
    environment:
      - HOME=/root
      - MAVEN_CONFIG=/root/.m2

volumes:
  maven-repo: {}
  maven-target: {}